<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
   
    <style>
    /* Add custom styles here */
    body {
        padding: 20px;
    }

    .printer-container {
        display: flex;
        flex-wrap: wrap;
        /* gap: 20px; */
    }

    .printer-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        background-color: #f8f9fa;
        cursor: pointer;
        transition: height 0.3s ease;
        min-width: 300px;
        flex-grow: 1;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    }

    .printer-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .printer-card h2 {
        font-size: 20px;
        color: #333;
        margin-bottom: 10px;
    }

    .printer-card p {
        font-size: 16px;
        color: #666;
        margin-bottom: 5px;
    }

    .additional-details {
        display: none;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #ccc;
    }

    .expanded .additional-details {
        display: block;
    }

    .status-badge {
        display: inline-block;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .offline {
        background-color: #f8d7da;
        color: #721c24;
    }

    .low-ink {
        background-color: #fff3cd;
        color: #856404;
    }

    .empty-tray {
        background-color: #d9534f;
        color: #fff;
    }

    .printer-card .expand-button {
        font-size: 14px;
        color: #007bff;
        text-decoration: underline;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .printer-card .expand-button:hover {
        color: #0056b3;
    }
</style>

</head>

<body>
    <!-- Tiles to display each printer -->
    <div class="container">
        <div class="row printer-container">
            
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <!-- Custom JavaScript -->
    <script>
        function toggleCard(card) {
            card.classList.toggle('expanded');
        }
    </script>
</body>
<script>

    printers =[];

    $(document).ready(function () {

        var cards = $(".card");
        var index = 0;

        setInterval(function () {
            if (index >= cards.length) {
                index = 0; // Reset index to 0 when all printers have been updated

            }
            if (printers.length != index) {
                var card = $(cards[index]);
                printers.push(card.find("h2").text());
            }

            var card = $(cards[index]);
            var printerName = card.find("h2").text();
            updatePrinter(printerName, card, index);
            index++; // Move to the next printer

        }, 1000);

    });
    
    

    function updatePrinter(printerName, card, index) {
        $.ajax({
            url: '/update',
            method: 'GET',
            data: {
                name: printerName
            },
            success: function (response) {
                if (response['status'] == 'offline') {
                    card.css('background-color', '#f8d7da');
                } else {
                    card.css('background-color', '#d4edda');
                }
                var printer = response;
                var additionalDetails = card.find('.additional-details');
                var tonerStatus = additionalDetails.find('p:nth-child(1)');
                var traysList = additionalDetails.find('ul');
                if (response['status'] == 'offline') {
                    traysList.empty();
                    return 
                }
                // Update printer information
              
                if (printer['status'] != 'offline') {
                   
                    card.find('p:nth-child(2)').html(`<a href="http://${printer['address']}" target="_blank">${printer['address']}</a>`);
                }

                // find the printer in the printers array and update it
                if (index != -1) {
                    printers[index] = printer;
                }
                else{
                    printers.push(printer);
                }
                // card.find('p:nth-child(3)').text(printer['status']);
                card.find('p:nth-child(3)').html(`<span class="status-badge ${printer['status']}">${printer['status']}</span>`);
                card.find('p:nth-child(4)').text(printer['location']);
                if (printer.isColor == true){
                    var toner = document.createElement("div");
                    
                    var yellow = document.createElement("div");
                    yellow.classList.add("progress");
                    yellow.classList.add("bg-warning");
                    yellow.setAttribute("style", "height: 20px;");
                    yellow.setAttribute("style", "width: " + printer['yellow_cartridge'] );
                    yellow.setAttribute("aria-valuenow", printer['yellow_cartridge']);
                    yellow.setAttribute("aria-valuemin", "0");
                    yellow.setAttribute("aria-valuemax", "100");
                    yellow.innerHTML = printer['yellow_cartridge'];

                    var magenta = document.createElement("div");
                    magenta.classList.add("progress");
                    magenta.classList.add("bg-danger");
                    magenta.setAttribute("style", "height: 20px;");
                    magenta.setAttribute("style", "width: " + printer['magenta_cartridge'] );
                    magenta.setAttribute("aria-valuenow", printer['magenta_cartridge']);
                    magenta.setAttribute("aria-valuemin", "0");
                    magenta.setAttribute("aria-valuemax", "100");
                    magenta.innerHTML = printer['magenta_cartridge'];

                    var cyan = document.createElement("div");
                    cyan.classList.add("progress");
                    cyan.classList.add("bg-primary");
                    cyan.setAttribute("style", "height: 20px;");
                    cyan.setAttribute("style", "width: " + printer['cyan_cartridge']);
                    cyan.setAttribute("aria-valuenow", printer['cyan_cartridge']);
                    cyan.setAttribute("aria-valuemin", "0");
                    cyan.setAttribute("aria-valuemax", "100");
                    cyan.innerHTML = printer['cyan_cartridge'];


                    var black = document.createElement("div");
                    black.classList.add("progress");
                    black.classList.add("bg-dark");
                    black.setAttribute("style", "height: 20px;");
                    black.setAttribute("style", " width: " + printer['black_cartridge']);
                    black.setAttribute("aria-valuenow", printer['black_cartridge']);
                    black.setAttribute("aria-valuemin", "0");
                    black.setAttribute("aria-valuemax", "100");
                    black.innerHTML = printer['black_cartridge'];
                    var blackLabel = document.createElement("div");
                    blackLabel.classList.add("progress-bar-label");
                    blackLabel.innerText = printer['black_cartridge'] + "%";
                    blackLabel.style.color = "#fff"; // Set the label text color to white for better visibility
                    blackLabel.style.fontSize = "12px";
                    black.appendChild(blackLabel);

                    toner.appendChild(black);
                    toner.appendChild(yellow);
                    toner.appendChild(magenta);
                    toner.appendChild(cyan);
                    tonerStatus.replaceWith(toner);
                }
                else{
                    var toner = document.createElement("div");
                    toner.classList.add("progress");

                    var tonerBar = document.createElement("div");
                    tonerBar.classList.add("progress-bar");
                    tonerBar.classList.add("bg-dark");
                    tonerBar.setAttribute("role", "progressbar");
                    tonerBar.setAttribute("style", "width: " + printer.toner_percentage + "%");
                    tonerBar.setAttribute("aria-valuenow", printer.toner_percentage);
                    tonerBar.setAttribute("aria-valuemin", "0");
                    tonerBar.setAttribute("aria-valuemax", "100");
                    tonerBar.innerHTML = printer.toner_percentage + "%";
                    toner.appendChild(tonerBar);

                    tonerStatus.replaceWith(toner);
                }

                traysList.empty();
                printer['trays'].forEach(function (tray) {
                    // traysList.append(`<li>${tray.name}: ${tray.status} ${tray.capacity}: ${tray.size} </li>`);
                    // create a div and then append status to it and create a visual effect for the current capacity of the tray and append size
                    var trayInfo = document.createElement("div");
                    traysList.append(`<li>${tray.name}: ${tray.status} ${tray.capacity}: ${tray.size} </li>`);

                    if (tray.status =='LOW') {
                        // YELLOW
                        card.css('background-color', '#fff3cd');
                    }
                    else if (tray.status =='EMPTY') {
                        // dark red
                        card.css('background-color', '#d9534f');
                    }
                });
            },
            error: function (error) {
                console.log('Error updating printer:', printerName, error);
            }
        });
    }
    
    // Sort printers based on status (Offline printers at the bottom)
    printers.sort(function (a, b) {
                // Custom sorting function
                function compareStatus(a, b) {
                if (a.status === "Offline" && b.status !== "Offline") {
                    return 1;
                } else if (a.status !== "Offline" && b.status === "Offline") {
                    return -1;
                } else {
                    return 0;
                }
            }

            // Sort printers based on status
            printers.sort(compareStatus);

            // Generate printer cards
            var printerRow = $("#printerRow");
            for (var i = 0; i < printers.length; i++) {
                var printer = printers[i];

                var card = $("<div>").addClass("printer-card");
                if (printer.status === "Offline") {
                    card.addClass("offline");
                } else if (printer.toner_percentage <= 20) {
                    card.addClass("low-ink");
                }

                var name = $("<h2>").text(printer.name);
                var status = $("<p>").text("Status: " + printer.status);
                // show a progress bar with the percentage of toner left
                var additionalDetails = $("<div>").addClass("additional-details");
                for (var j = 0; j < printer.trays.length; j++) {
                    var tray = printer.trays[j];
                    var trayInfo = $("<p>").text(tray.name + ": " + tray.status + ", " + tray.capacity + ", " + tray.size);
                    additionalDetails.append(trayInfo);

                    if (tray.status === "LOW") {
                        card.addClass("low-ink");
                    } else if (tray.status === "EMPTY") {
                        card.addClass("empty-tray");
                    }
                }

                card.append(name, status, toner, additionalDetails);
                printerRow.append(card);
            }
        });
</script>

</html>